doctype html
html(data-ng-app="SimpleChat")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/styles/bootstrap.css")
        link(rel="stylesheet", href="/styles/simple-chat.css")
        title SimpleChat
    body(data-ng-controller="Client")
        div#chat.panel.panel-default
            div.panel-heading
                div#chat-title.panel-title {{ client.getUsersConnected() }}
            #history
                div(ng-repeat="msg in client.getMessagesList() track by $index")
                    li.btn.btn-info.btn-block {{ msg }}
            br
            div
                form#chat-form.input-group(ng-submit="client.sendMessage()")
                    input#message.form-control(type="text", ng-model="client.message")
                    span.input-group-btn
                        button.btn.btn-success(type="button" ng-click="client.sendMessage()") Enviar
        script(src="scripts/lib/require.js" data-main="scripts/App")
